
.title {
    background: #e2e2e2;
    padding: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
}

.gallery-item img {
    width: 180px;
    height: 180px;
}

.margin-10px {
    margin : 10px;
}

.margin-top-25px {
    margin-top : 25px;
}
