@model List<Booking_Platform.Models.RoomDto>

<div class="container">

    <!--<form asp-action="AddBookingTest" asp-controller="Bookings" method="post">
        <div class="col-auto margin-10px">
            <label class="sr-only" for="test">test*</label>
            <input type="number" class="form-control mb-2" id="test" name="test" placeholder="Test" required />
        </div>
        <div class="col-auto margin-10px margin-top-25px">
            <button type="submit" class="btn btn-primary mb-2">Book</button>
        </div>
    </form>-->
    <form asp-action="AddBooking" asp-controller="Bookings" method="post">
                <div class="form-row align-items-center d-flex">
                    <div class="col-auto margin-10px">
                        <label class="sr-only" for="roomId">Select Room*</label>
                        <select class="form-control mb-2" id="roomId" name="roomId" required>
                            <option value="">Select a room</option>
                            @foreach (var room in Model)
                            {
                                <option value="@room.Id">@room.Title - @room.Price per night</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto margin-10px">
                        <label class="sr-only" for="email">Email*</label>
                        <input type="text" class="form-control mb-2" id="email" name="email" placeholder="Email" required />
                    </div>
                    <div class="col-auto margin-10px">
                        <label class="sr-only" for="startDate">Start Date*</label>
                        <input type="date" class="form-control mb-2" id="startDate" name="startDate" required />
                    </div>
                    <div class="col-auto margin-10px">
                        <label class="sr-only" for="endDate">End Date*</label>
                        <input type="date" class="form-control mb-2" id="endDate" name="endDate" required />
                    </div>
                    <div class="col-auto margin-10px">
                        <label class="sr-only" for="numberOfPeople">Number of Guests*</label>
                        <input type="number" class="form-control mb-2" id="numberOfPeople" name="numberOfPeople" required />
                    </div>
                    <div class="col-auto margin-10px margin-top-25px">
                        <button type="submit" class="btn btn-primary mb-2">Book</button>
                    </div>
                </div>
            </form>
</div>
