
<div class="text-center">
    @if (ViewData["ShowMessage"] != null && ViewData["ShowMessage"].ToString() == "true")
    {
        @if (ViewData["Status"].ToString() != "Success")
        {
            <h6 class="error-message">
                @ViewData["Message"]
            </h6>
        }
        else
        {
            <h6 class="success-message">
                @ViewData["Message"]
            </h6>

        }
    }
</div>