<div class="text-center">
    <!-- Display success or error message -->
    @if (TempData["showMessage"] != null)
    {
        <h6 class="alert @(TempData["showMessage"].ToString() == "true" && TempData["status"].ToString() == "Success" ? "success-message" : "error-message")">
            @TempData["message"]
        </h6>
    }
</div>
