@model Tuple<List<Booking_Platform.Models.RoomDto>, List<Booking_Platform.Models.BookingDto>>
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    @await Html.PartialAsync("_Gallery", Model.Item1)
</div>

<div class="container">
    @await Html.PartialAsync("_BookingForm", Model.Item1)
</div>