@model List<Booking_Platform.Models.RoomDto>
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    @await Html.PartialAsync("_Gallery", Model)
</div>

<div class="container">
    @await Html.PartialAsync("_BookingForm", Model)
</div>

<div class="container">
    @await Html.PartialAsync("_Error")
</div>