@model List<Booking_Platform.Models.RoomDto>
@{
    ViewData["Title"] = "Home";
}
<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-item {
        margin: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        width: 200px;
    }

        .gallery-item img {
            width: 100%;
            height: auto;
        }
</style>

<div class="text-center">
    <h1 class="display-4">All Available Rooms</h1>
</div>
<div class="container">
    <div class="gallery">
        @if (Model != null)
        {
            @foreach (var room in Model)
            {
                <div class="gallery-item">
                    <img src=@room.ImageUrl />
                    <h5>@room.Title</h5>
                    <p>@room.Description</p>
                    <p>Price : @room.Price</p>
                    <p>Capacity : @room.Capacity</p>
                </div>
            }
        }
    </div>
</div>
